.app.dark{

    --bg-color: rgb(68, 68, 248);
    --inverted-bg-color: #e8e8ea;
    --inverted-primary-color: rgb(17, 152, 17);
    --inverted-secondary-color: rgb(9, 225, 9);
    --primary-color: rgb(0, 26, 255);
    --secondary-color: rgb(5, 26, 249);
}