.app{

    --bg-color: rgb(207, 207, 207);
    --inverted-bg-color: #090949;
    --inverted-primary-color: rgb(12, 24, 139);
    --inverted-secondary-color: rgb(5, 26, 249);
    --primary-color: rgb(17, 152, 17);
    --secondary-color: rgb(9, 225, 9);

}